<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Analisis Sentimen</title>

    <!-- Custom fonts for this template -->
    <link href="static/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="static/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                <div class="sidebar-brand-text mx-3">Analisis Sentimen</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="/">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="/dataset">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Dataset</span></a>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="/cek_sentimen_nb">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Naive Bayes</span></a>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item active">
                <a class="nav-link" href="/cek_sentimen">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Support Vector Machine</span></a>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="/statistik">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Statistik</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <form class="form-inline">
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Hasil Preprocessing Support Vector Machine</h1>

                    <!-- DataTales -->
                    <span class="border border-0">
                        <div class="card shadow">
                            {% block body %}
                            <div class="p-5">
                                <h6>Komentar yang anda masukkan adalah {{subject}}</h6>
                                <br>
                                <h6 class="font-weight-bold">Skenario Preprocessing 1</h6>
                                <h6>Hasil dari tahap Case folding : {{casefolding_2}}</h6>
                                <h6>Hasil dari tahap Emoji : {{emoji_2}}</h6>
                                <h6>Hasil dari tahap Stopword : {{stopword_2}}</h6>
                                <h6>Hasil dari tahap Stem : {{stem_2}}</h6>
                                <h6>Hasil akhir Preprocessing 1 : {{text_final_prepro}}</h6>
                                <hr class="sidebar-divider">
                                <h6>Hasil sentimen Preprocessing 1 adalah {{hasil_kelas_prepro}}</h6>
                                <h6>Probabilitas: {{probabilitas_svm_prepro}}</h6>
                                <br>
                                <h6 class="font-weight-bold">Skenario Preprocessing 2</h6>
                                <h6>Hasil dari tahap Case folding : {{casefolding}}</h6>
                                <h6>Hasil dari tahap Emoji : {{emoji}}</h6>
                                <h6>Hasil dari tahap Cleaning : {{cleaning}}</h6>
                                <h6>Hasil dari tahap Repetition : {{repetition}}</h6>
                                <h6>Hasil dari tahap Slangword : {{slangword}}</h6>
                                <h6>Hasil dari tahap Negasi : {{negasi}}</h6>
                                <h6>Hasil dari tahap Stopword : {{stopword}}</h6>
                                <h6>Hasil dari tahap Stem : {{stem}}</h6>
                                <h6>Hasil akhir Preprocessing 2 : {{text_final}}</h6>
                                <hr class="sidebar-divider">
                                <h6>Hasil sentimen Preprocessing 2 adalah {{hasil_kelas}}</h6>
                                <h6>Probabilitas: {{probabilitas_svm}}</h6>
                            </div>
                            {% endblock %}
                        </div>
                    </span>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Tugas Akhir-Nabila Valinka P</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="static/jquery/jquery.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="static/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="static/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="static/datatables/jquery.dataTables.min.js"></script>
    <script src="static/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="static/js/demo/datatables-demo.js"></script>

</body>

</html>